body {overflow: hidden;}

#h_st {}
.main_bg{height: 100vh;}   
#h_st ul li:nth-child(2) {margin-top: -828px; padding-left: 1200px;
    animation: b_d;
    animation-duration:10s;  /*걸리는 시간*/
    animation-duration: leaner;
    animation-iteration-count:infinite;
    animation-direction:forwards;   
    animation-fill-mode: forwards;
      
}




@keyframes b_d {
    0% {transform: translate(0px, 0px);}
    5% {transform: translate(-300px, 50px);}
    10% {transform: translate(-600px, 30px);}
    15% {transform: translate(-800px, 50px);}
    45% {transform: rotateY(180deg) translate(700px, 50px);}
    55% {transform: rotateY(180deg) translate(400px, 30px);}
    60% {transform: rotateY(180deg) translate(100px, 50px);}
    75% {transform: rotateY(180deg) translate(-200px, 30px);}
    90% {transform: rotateY(180deg) translate(-500px, 50px);}
    
  }

  span:not(.light) {
    opacity: 0;
    animation: flashText .5s ease-out alternate infinite;
  }
  
  span.light {
    position: relative;
    display: inline-block;
    

  }
  
  @keyframes flash{
    to {
      opacity: 1;
    }
  }
  
  @keyframes flashText {
    to {
      opacity: 0.15;
    }
  }