@charset "utf-8";

/*공통*/
h3{padding: 0;}


#wrap {min-width: 1400px;}
.mock_up h1 {font-size: 165px; font-family: Neo; padding-top: 100px; text-align: center;}
.mock_up {position: relative; width: 100%; height: 2277px; background: url(../../normal/image/muckup.png) no-repeat left top;}
.mock_up .img_wrap {position: absolute; top: 440px; left: 50%; transform: translate(-50%,0); width: 1290px; height: 741px; overflow: hidden; background: #000;}
.mock_up img {width: 100%; animation: imgMove 8s infinite; z-index: 100;}

.text {padding-top: 1535px; margin-left: 1100px;}
.text h2{font-size: 80px; font-family: NotoS; font-weight: 700; padding-bottom: 20px;}
.text p {font-size: 30px; line-height: 2;}
.text p span {color:#f92f2f;}

/*cnt_start*/
#cnt_start {width: 100%; background: #0c0c0c; color:#fff; font-family: NotoS;}
#cnt_start h3{font-size: 70px; font-weight: 700;}
#cnt_start .vision h3, #cnt_start .color h3, #cnt_start .font h3{padding-top: 300px;}
#cnt_start p{font-size: 25px; font-weight: 700;}

#cnt_start .sitee h3 {padding-top: 100px;} 
#cnt_start .sitee p{padding-top: 36px; line-height: 60px;}

#cnt_start .vision h3, #cnt_start .color h3, #cnt_start .font h3{padding-bottom: 100px;}

@keyframes imgMove { 
    0% {transform: translateY(0);}
    8% {transform: translateY(0);}

    20% {transform: translateY(-940px);}
    28% {transform: translateY(-940px);}

    40% {transform: translateY(-2000px);}
    48% {transform: translateY(-2000px);}

    60% {transform: translateY(-2940px);}
    68% {transform: translateY(-2940px);}

    80% {transform: translateY(-3600px);}
    88% {transform: translateY(-3600px);}

    100% {transform: translateY(0px);}
}