#an_b {text-align: center;}
#an_b .main_bg {height: 100vh;}
#an_b ul li:nth-child(2) img { position: absolute; bottom: 455px; right: 40px; animation: bounce 2s infinite cubic-bezier(.50,.68,.42,.11);}
#an_b ul li:nth-child(3) img { position: absolute; bottom: 450px; left: 40px; animation: bouncee 2s infinite cubic-bezier(.50,.68,.42,.11);}
#an_b ul li:nth-child(4) img {width: 387px; height: 545px; position: absolute; bottom: 300px; left:-300px;
    animation: b_d;
    animation-duration:10s;  /*걸리는 시간*/
    animation-duration: leaner;
    animation-iteration-count:infinite;
    animation-direction:forwards;   
    animation-fill-mode: forwards;
      
  }
#an_b ul li:nth-child(5) img { position: absolute; bottom: 200px; right: 500px; animation: bounceee 2s infinite cubic-bezier(.50,.68,.42,.11);}






@keyframes bounce{
    0% {
        transform: translate(0, -5px);
    }
    50%{
        transform: translate(0, 5px);
    }
    

    100%{
        transform: translate(0, -5px);
    }

}
@keyframes bouncee{
    0% {
        transform: translate(0, 5px);
    }
    50%{
        transform: translate(0, -5px);
    }
    

    100%{
        transform: translate(0, 5px);
    }

}
@keyframes bounceee{
    0% {
        transform: translate(0, -5px);
    }
    30%{
        transform: translate(0, 5px);
    }
    50%{
        transform: translate(0, 5px);
    }

    100%{
        transform: translate(0, -5px);
    }

}
@keyframes b_d {
    0% { transform: translate(200px, -30px);}
    5% { transform: translate(300px, 50px);}
    10% {transform: translate(600px, -30px);}
    15% {transform: translate(800px, -50px);}
    20% {transform: translate(900px, -30px);}
    30% {transform: translate(1600px, 50px);}
    45% {transform: rotateY(180deg) translate(-1400px, 50px);}
    55% {transform: rotateY(180deg) translate(-1000px, 30px);}
    60% {transform: rotateY(180deg) translate(-900px, 50px);}
    75% {transform: rotateY(180deg) translate(-650px, 30px);}
    90% { transform: rotateY(180deg) translate(-350px, 50px);}
    
  }